<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Edit</title>
</head>
<body class="edit">
    <h1>Enter Substitutes Informaiton</h1>
    <form action="/<%=soccer.id%>?_method=PUT" method="POST">
        <div class="form">
                <input type="text" placeholder="Name" name ="name"value="<%=soccer.name%>"/><br/>
                <input type="text" placeholder="Height" name ="height"value="<%=soccer.height%>"/><br/>
                <input type="text" placeholder="Weight" name ="weight"value="<%=soccer.weight%>"/><br/>
                <input type="text" placeholder="Dominant Foot" name ="foot"value="<%=soccer.foot%>"/><br/>
                <input type="text" placeholder="Nationality" name ="nationality"value="<%=soccer.nationality%>"/><br/>
                <input type="text" placeholder="Previous Club" name ="oldClub"value="<%=soccer.oldClub%>"/><br/>
                <input type="text" placeholder="Position" name ="position"value="<%=soccer.position%>"/><br/>
                <input type="text" placeholder="Number" name ="number"value="<%=soccer.number%>"/><br/>
                <input type="submit" name="" value="Substitute in"><br>
            </div>
        </form>
                <a class = "button" href="/" >Keep player in</a>
</body>
</html>