<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Show</title>
</head>
<body class="details">
        <div>
            <h1 class="name"><b><%=soccer.name%></b></h1>
            <h3>Player Height:</h3>
            <h4><%=soccer.height%></h4>
            <h3>Player Weight:</h3>
            <h4><%=soccer.weight%></h4>
            <h3>Player's Dominant Foot:</h3>
            <h4><%=soccer.foot%></h4>
            <h3>Players Nationality:</h3>
            <h4><%=soccer.nationality%></h4>
            <h3>Players Old Club:</h3>
            <h4><%=soccer.oldClub%></h4>
            <h3>Player's Position:</h3>
            <h4><%=soccer.position%></h4>
            <h3>Player's Number:</h3>
            <h4><%=soccer.number%></h4>
            <button><a class = "button" href="/">Back to line-up</a></button>
        </div>
    </div>
</body>
</html>